@model HomeWork1.Models.客戶資料

@{
    ViewBag.Title = "Details";
}
@section breadcrumb{
    <li>
        <i class="icon-home"></i>
        <a href="#">客戶資料明細</a>
    </li>
}

<h2>Details</h2>

@Html.Action("DetailMaster")

@Html.Partial("_BatchUpdate", Model.客戶聯絡人)

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
